.navbar-search-type-current {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-search-type-change {
    align-items: center;
    position: fixed;
    z-index: 11;
    background-color: white;
    color: black;
    top: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px lightgrey;
}

.navbar-search-type-change:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

.navbar-search-type-icon {
    margin-right: 5px;
}

.navbar-search-type-current-label {
    padding-right: 10px;
}

.navbar-input {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px;
    max-width: 350px;
    border: 0;
    border-radius: 43px;
    outline: none;
}

@media  screen and (max-width:700px) {
    .navbar-search{
        display:none;
    }
    .nav-bar{
        flex-wrap: nowrap;
    }
}